<a href="https://colab.research.google.com/github/Enoch-Onwuka/ML_Casestudies/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [86]:
from google.colab import files
uploaded = files.upload()

Saving Surveydata_train.csv to Surveydata_train (2).csv
Saving Traveldata_train.csv to Traveldata_train (2).csv

In [118]:
survey_data = pd.read_csv("Surveydata_train.csv")
travel_data = pd.read_csv("Traveldata_train.csv")

In [119]:
survey_data.head(5)

         ID  Overall_Experience       Seat_Comfort Seat_Class Arrival_Time_Convenient           Catering  Platform_Location Onboard_Wifi_Service Onboard_Entertainment Online_Support Ease_of_Online_Booking    Onboard_Service            Legroom   Baggage_Handling    CheckIn_Service        Cleanliness Online_Boarding
0  98800001                   0  Needs Improvement  Green Car               Excellent          Excellent    Very Convenient                 Good     Needs Improvement     Acceptable      Needs Improvement  Needs Improvement         Acceptable  Needs Improvement               Good  Needs Improvement            Poor
1  98800002                   0               Poor   Ordinary               Excellent               Poor  Needs Improvement                 Good                  Poor           Good                   Good          Excellent  Needs Improvement               Poor  Needs Improvement               Good            Good
2  98800003                   1  Needs Improvement  Green Car       Needs Improvement  Needs Improvement  Needs Improvement    Needs Improvement                  Good      Excellent              Excellent          Excellent          Excellent          Excellent               Good          Excellent       Excellent
3  98800004                   0         Acceptable   Ordinary       Needs Improvement                NaN  Needs Improvement           Acceptable     Needs Improvement     Acceptable             Acceptable         Acceptable         Acceptable         Acceptable               Good         Acceptable      Acceptable
4  98800005                   1         Acceptable   Ordinary              Acceptable         Acceptable         Manageable    Needs Improvement                  Good      Excellent                   Good               Good               Good               Good               Good               Good            Good

In [120]:
travel_data.head(5)

         ID  Gender   Customer_Type   Age      Type_Travel Travel_Class  Travel_Distance  Departure_Delay_in_Mins  Arrival_Delay_in_Mins
0  98800001  Female  Loyal Customer  52.0              NaN     Business              272                      0.0                    5.0
1  98800002    Male  Loyal Customer  48.0  Personal Travel          Eco             2200                      9.0                    0.0
2  98800003  Female  Loyal Customer  43.0  Business Travel     Business             1061                     77.0                  119.0
3  98800004  Female  Loyal Customer  44.0  Business Travel     Business              780                     13.0                   18.0
4  98800005  Female  Loyal Customer  50.0  Business Travel     Business             1981                      0.0                    0.0

In [121]:
data = pd.merge(survey_data,travel_data)

In [122]:
data

             ID  Overall_Experience       Seat_Comfort Seat_Class Arrival_Time_Convenient           Catering  Platform_Location Onboard_Wifi_Service Onboard_Entertainment Online_Support Ease_of_Online_Booking    Onboard_Service            Legroom   Baggage_Handling    CheckIn_Service        Cleanliness Online_Boarding  Gender   Customer_Type   Age      Type_Travel Travel_Class  Travel_Distance  Departure_Delay_in_Mins  Arrival_Delay_in_Mins
0      98800001                   0  Needs Improvement  Green Car               Excellent          Excellent    Very Convenient                 Good     Needs Improvement     Acceptable      Needs Improvement  Needs Improvement         Acceptable  Needs Improvement               Good  Needs Improvement            Poor  Female  Loyal Customer  52.0              NaN     Business              272                      0.0                    5.0
1      98800002                   0               Poor   Ordinary               Excellent               Poor  Needs Improvement                 Good                  Poor           Good                   Good          Excellent  Needs Improvement               Poor  Needs Improvement               Good            Good    Male  Loyal Customer  48.0  Personal Travel          Eco             2200                      9.0                    0.0
2      98800003                   1  Needs Improvement  Green Car       Needs Improvement  Needs Improvement  Needs Improvement    Needs Improvement                  Good      Excellent              Excellent          Excellent          Excellent          Excellent               Good          Excellent       Excellent  Female  Loyal Customer  43.0  Business Travel     Business             1061                     77.0                  119.0
3      98800004                   0         Acceptable   Ordinary       Needs Improvement                NaN  Needs Improvement           Acceptable     Needs Improvement     Acceptable             Acceptable         Acceptable         Acceptable         Acceptable               Good         Acceptable      Acceptable  Female  Loyal Customer  44.0  Business Travel     Business              780                     13.0                   18.0
4      98800005                   1         Acceptable   Ordinary              Acceptable         Acceptable         Manageable    Needs Improvement                  Good      Excellent                   Good               Good               Good               Good               Good               Good            Good  Female  Loyal Customer  50.0  Business Travel     Business             1981                      0.0                    0.0
...         ...                 ...                ...        ...                     ...                ...                ...                  ...                   ...            ...                    ...                ...                ...                ...                ...                ...             ...     ...             ...   ...              ...          ...              ...                      ...                    ...
94374  98894375                   0               Poor   Ordinary                    Good               Good         Convenient                 Poor                  Poor           Poor                   Poor               Good               Good               Good  Needs Improvement               Good            Poor    Male  Loyal Customer  32.0  Business Travel     Business             1357                     83.0                  125.0
94375  98894376                   1               Good   Ordinary                    Good               Good         Convenient    Needs Improvement             Excellent      Excellent             Acceptable         Acceptable         Acceptable         Acceptable               Good         Acceptable            Good    Male  Loyal Customer  44.0  Business Travel     Business              592                      5.0                   11.0
94376  98894377                   1  Needs Improvement  Green Car       Needs Improvement  Needs Improvement  Needs Improvement                 Good             Excellent           Good                   Good               Good               Good               Good         Acceptable               Good      Acceptable    Male             NaN  63.0  Business Travel     Business             2794                      0.0                    0.0
94377  98894378                   0  Needs Improvement   Ordinary                     NaN  Needs Improvement         Convenient                 Good     Needs Improvement           Good                   Good         Acceptable               Good               Good               Good          Excellent            Good    Male  Loyal Customer  16.0  Personal Travel          Eco             2744                      0.0                    0.0
94378  98894379                   0         Acceptable   Ordinary                    Poor         Acceptable         Manageable           Acceptable            Acceptable     Acceptable             Acceptable               Poor               Good               Good               Poor               Good      Acceptable    Male  Loyal Customer  54.0              NaN          Eco             2107                     28.0                   28.0

[94379 rows x 25 columns]

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_Comfort             94318 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_Time_Convenient  85449 non-null  object
 5   Catering                 85638 non-null  object
 6   Platform_Location        94349 non-null  object
 7   Onboard_Wifi_Service     94349 non-null  object
 8   Onboard_Entertainment    94361 non-null  object
 9   Online_Support           94288 non-null  object
 10  Ease_of_Online_Booking   94306 non-null  object
 11  Onboard_Service          86778 non-null  object
 12  Legroom                  94289 non-null  object
 13  Baggage_Handling         94237 non-null  object
 14  CheckIn_Service          94302 non-null  object
 15  Cleanliness              94373 non-null  object
 16  Online_Boarding          94373 non-null  object
 17  Gender                   94302 non-null  object
 18  Customer_Type            85428 non-null  object
 19  Age                      94346 non-null  float64
 20  Type_Travel              85153 non-null  object
 21  Travel_Class             94379 non-null  object
 22  Travel_Distance          94379 non-null  int64
 23  Departure_Delay_in_Mins  94322 non-null  float64
 24  Arrival_Delay_in_Mins    94022 non-null  float64
dtypes: float64(3), int64(3), object(19)
memory usage: 18.7+ MB

In [124]:
cateogry_columns=data.select_dtypes(include=['object']).columns.tolist()
integer_columns=data.select_dtypes(include=['int64','float64']).columns.tolist()

for column in data:
    if data[column].isnull().any():
        if(column in cateogry_columns):
            data[column]=data[column].fillna(data[column].mode()[0])
        else:
            data[column]=data[column].fillna(data[column].mean)

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       94379 non-null  int64
 1   Overall_Experience       94379 non-null  int64
 2   Seat_Comfort             94379 non-null  object
 3   Seat_Class               94379 non-null  object
 4   Arrival_Time_Convenient  94379 non-null  object
 5   Catering                 94379 non-null  object
 6   Platform_Location        94379 non-null  object
 7   Onboard_Wifi_Service     94379 non-null  object
 8   Onboard_Entertainment    94379 non-null  object
 9   Online_Support           94379 non-null  object
 10  Ease_of_Online_Booking   94379 non-null  object
 11  Onboard_Service          94379 non-null  object
 12  Legroom                  94379 non-null  object
 13  Baggage_Handling         94379 non-null  object
 14  CheckIn_Service          94379 non-null  object
 15  Cleanliness              94379 non-null  object
 16  Online_Boarding          94379 non-null  object
 17  Gender                   94379 non-null  object
 18  Customer_Type            94379 non-null  object
 19  Age                      94379 non-null  object
 20  Type_Travel              94379 non-null  object
 21  Travel_Class             94379 non-null  object
 22  Travel_Distance          94379 non-null  int64
 23  Departure_Delay_in_Mins  94379 non-null  object
 24  Arrival_Delay_in_Mins    94379 non-null  object
dtypes: int64(3), object(22)
memory usage: 18.7+ MB

In [126]:
data

             ID  Overall_Experience       Seat_Comfort Seat_Class Arrival_Time_Convenient           Catering  Platform_Location Onboard_Wifi_Service Onboard_Entertainment Online_Support Ease_of_Online_Booking    Onboard_Service            Legroom   Baggage_Handling    CheckIn_Service        Cleanliness Online_Boarding  Gender   Customer_Type   Age      Type_Travel Travel_Class  Travel_Distance Departure_Delay_in_Mins Arrival_Delay_in_Mins
0      98800001                   0  Needs Improvement  Green Car               Excellent          Excellent    Very Convenient                 Good     Needs Improvement     Acceptable      Needs Improvement  Needs Improvement         Acceptable  Needs Improvement               Good  Needs Improvement            Poor  Female  Loyal Customer  52.0  Business Travel     Business              272                     0.0                   5.0
1      98800002                   0               Poor   Ordinary               Excellent               Poor  Needs Improvement                 Good                  Poor           Good                   Good          Excellent  Needs Improvement               Poor  Needs Improvement               Good            Good    Male  Loyal Customer  48.0  Personal Travel          Eco             2200                     9.0                   0.0
2      98800003                   1  Needs Improvement  Green Car       Needs Improvement  Needs Improvement  Needs Improvement    Needs Improvement                  Good      Excellent              Excellent          Excellent          Excellent          Excellent               Good          Excellent       Excellent  Female  Loyal Customer  43.0  Business Travel     Business             1061                    77.0                 119.0
3      98800004                   0         Acceptable   Ordinary       Needs Improvement         Acceptable  Needs Improvement           Acceptable     Needs Improvement     Acceptable             Acceptable         Acceptable         Acceptable         Acceptable               Good         Acceptable      Acceptable  Female  Loyal Customer  44.0  Business Travel     Business              780                    13.0                  18.0
4      98800005                   1         Acceptable   Ordinary              Acceptable         Acceptable         Manageable    Needs Improvement                  Good      Excellent                   Good               Good               Good               Good               Good               Good            Good  Female  Loyal Customer  50.0  Business Travel     Business             1981                     0.0                   0.0
...         ...                 ...                ...        ...                     ...                ...                ...                  ...                   ...            ...                    ...                ...                ...                ...                ...                ...             ...     ...             ...   ...              ...          ...              ...                     ...                   ...
94374  98894375                   0               Poor   Ordinary                    Good               Good         Convenient                 Poor                  Poor           Poor                   Poor               Good               Good               Good  Needs Improvement               Good            Poor    Male  Loyal Customer  32.0  Business Travel     Business             1357                    83.0                 125.0
94375  98894376                   1               Good   Ordinary                    Good               Good         Convenient    Needs Improvement             Excellent      Excellent             Acceptable         Acceptable         Acceptable         Acceptable               Good         Acceptable            Good    Male  Loyal Customer  44.0  Business Travel     Business              592                     5.0                  11.0
94376  98894377                   1  Needs Improvement  Green Car       Needs Improvement  Needs Improvement  Needs Improvement                 Good             Excellent           Good                   Good               Good               Good               Good         Acceptable               Good      Acceptable    Male  Loyal Customer  63.0  Business Travel     Business             2794                     0.0                   0.0
94377  98894378                   0  Needs Improvement   Ordinary                    Good  Needs Improvement         Convenient                 Good     Needs Improvement           Good                   Good         Acceptable               Good               Good               Good          Excellent            Good    Male  Loyal Customer  16.0  Personal Travel          Eco             2744                     0.0                   0.0
94378  98894379                   0         Acceptable   Ordinary                    Poor         Acceptable         Manageable           Acceptable            Acceptable     Acceptable             Acceptable               Poor               Good               Good               Poor               Good      Acceptable    Male  Loyal Customer  54.0  Business Travel          Eco             2107                    28.0                  28.0

[94379 rows x 25 columns]

In [127]:
data.shape

(94379, 25)

In [128]:
# Let's check the summary statistics of the data
data.describe()

                 ID  Overall_Experience  Travel_Distance
count  9.437900e+04        94379.000000     94379.000000
mean   9.884719e+07            0.546658      1978.888185
std    2.724501e+04            0.497821      1027.961019
min    9.880000e+07            0.000000        50.000000
25%    9.882360e+07            0.000000      1359.000000
50%    9.884719e+07            1.000000      1923.000000
75%    9.887078e+07            1.000000      2538.000000
max    9.889438e+07            1.000000      6951.000000

In [129]:
# One Hot Encoding
data_new = pd.get_dummies(data, columns=['Seat_Comfort','Seat_Class','Arrival_Time_Convenient','Catering','Platform_Location','Onboard_Wifi_Service','Onboard_Entertainment','Online_Support','Ease_of_Online_Booking','Onboard_Service','Legroom','Baggage_Handling','CheckIn_Service','Cleanliness','Online_Boarding','Gender','Customer_Type','Type_Travel','Travel_Class'], drop_first=True)

In [130]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 80 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         94379 non-null  int64
 1   Overall_Experience                         94379 non-null  int64
 2   Age                                        94379 non-null  object
 3   Travel_Distance                            94379 non-null  int64
 4   Departure_Delay_in_Mins                    94379 non-null  object
 5   Arrival_Delay_in_Mins                      94379 non-null  object
 6   Seat_Comfort_Excellent                     94379 non-null  uint8
 7   Seat_Comfort_Extremely Poor                94379 non-null  uint8
 8   Seat_Comfort_Good                          94379 non-null  uint8
 9   Seat_Comfort_Needs Improvement             94379 non-null  uint8
 10  Seat_Comfort_Poor                          94379 non-null  uint8
 11  Seat_Class_Ordinary                        94379 non-null  uint8
 12  Arrival_Time_Convenient_Excellent          94379 non-null  uint8
 13  Arrival_Time_Convenient_Extremely Poor     94379 non-null  uint8
 14  Arrival_Time_Convenient_Good               94379 non-null  uint8
 15  Arrival_Time_Convenient_Needs Improvement  94379 non-null  uint8
 16  Arrival_Time_Convenient_Poor               94379 non-null  uint8
 17  Catering_Excellent                         94379 non-null  uint8
 18  Catering_Extremely Poor                    94379 non-null  uint8
 19  Catering_Good                              94379 non-null  uint8
 20  Catering_Needs Improvement                 94379 non-null  uint8
 21  Catering_Poor                              94379 non-null  uint8
 22  Platform_Location_Inconvenient             94379 non-null  uint8
 23  Platform_Location_Manageable               94379 non-null  uint8
 24  Platform_Location_Needs Improvement        94379 non-null  uint8
 25  Platform_Location_Very Convenient          94379 non-null  uint8
 26  Platform_Location_Very Inconvenient        94379 non-null  uint8
 27  Onboard_Wifi_Service_Excellent             94379 non-null  uint8
 28  Onboard_Wifi_Service_Extremely Poor        94379 non-null  uint8
 29  Onboard_Wifi_Service_Good                  94379 non-null  uint8
 30  Onboard_Wifi_Service_Needs Improvement     94379 non-null  uint8
 31  Onboard_Wifi_Service_Poor                  94379 non-null  uint8
 32  Onboard_Entertainment_Excellent            94379 non-null  uint8
 33  Onboard_Entertainment_Extremely Poor       94379 non-null  uint8
 34  Onboard_Entertainment_Good                 94379 non-null  uint8
 35  Onboard_Entertainment_Needs Improvement    94379 non-null  uint8
 36  Onboard_Entertainment_Poor                 94379 non-null  uint8
 37  Online_Support_Excellent                   94379 non-null  uint8
 38  Online_Support_Extremely Poor              94379 non-null  uint8
 39  Online_Support_Good                        94379 non-null  uint8
 40  Online_Support_Needs Improvement           94379 non-null  uint8
 41  Online_Support_Poor                        94379 non-null  uint8
 42  Ease_of_Online_Booking_Excellent           94379 non-null  uint8
 43  Ease_of_Online_Booking_Extremely Poor      94379 non-null  uint8
 44  Ease_of_Online_Booking_Good                94379 non-null  uint8
 45  Ease_of_Online_Booking_Needs Improvement   94379 non-null  uint8
 46  Ease_of_Online_Booking_Poor                94379 non-null  uint8
 47  Onboard_Service_Excellent                  94379 non-null  uint8
 48  Onboard_Service_Extremely Poor             94379 non-null  uint8
 49  Onboard_Service_Good                       94379 non-null  uint8
 50  Onboard_Service_Needs Improvement          94379 non-null  uint8
 51  Onboard_Service_Poor                       94379 non-null  uint8
 52  Legroom_Excellent                          94379 non-null  uint8
 53  Legroom_Extremely Poor                     94379 non-null  uint8
 54  Legroom_Good                               94379 non-null  uint8
 55  Legroom_Needs Improvement                  94379 non-null  uint8
 56  Legroom_Poor                               94379 non-null  uint8
 57  Baggage_Handling_Excellent                 94379 non-null  uint8
 58  Baggage_Handling_Good                      94379 non-null  uint8
 59  Baggage_Handling_Needs Improvement         94379 non-null  uint8
 60  Baggage_Handling_Poor                      94379 non-null  uint8
 61  CheckIn_Service_Excellent                  94379 non-null  uint8
 62  CheckIn_Service_Extremely Poor             94379 non-null  uint8
 63  CheckIn_Service_Good                       94379 non-null  uint8
 64  CheckIn_Service_Needs Improvement          94379 non-null  uint8
 65  CheckIn_Service_Poor                       94379 non-null  uint8
 66  Cleanliness_Excellent                      94379 non-null  uint8
 67  Cleanliness_Extremely Poor                 94379 non-null  uint8
 68  Cleanliness_Good                           94379 non-null  uint8
 69  Cleanliness_Needs Improvement              94379 non-null  uint8
 70  Cleanliness_Poor                           94379 non-null  uint8
 71  Online_Boarding_Excellent                  94379 non-null  uint8
 72  Online_Boarding_Extremely Poor             94379 non-null  uint8
 73  Online_Boarding_Good                       94379 non-null  uint8
 74  Online_Boarding_Needs Improvement          94379 non-null  uint8
 75  Online_Boarding_Poor                       94379 non-null  uint8
 76  Gender_Male                                94379 non-null  uint8
 77  Customer_Type_Loyal Customer               94379 non-null  uint8
 78  Type_Travel_Personal Travel                94379 non-null  uint8
 79  Travel_Class_Eco                           94379 non-null  uint8
dtypes: int64(3), object(3), uint8(74)
memory usage: 11.7+ MB

In [131]:
features = data.drop(['ID','Overall_Experience'], axis=1)

target = data['Overall_Experience']

In [132]:
data_new['Age'] = pd.to_numeric(data_new['Age'], errors = 'coerce')
data_new['Travel_Distance'] = pd.to_numeric(data_new['Travel_Distance'], errors = 'coerce')
data_new['Departure_Delay_in_Mins'] = pd.to_numeric(data_new['Departure_Delay_in_Mins'], errors = 'coerce')

In [ ]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94379 entries, 0 to 94378
Data columns (total 80 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         94379 non-null  int64
 1   Overall_Experience                         94379 non-null  int64
 2   Age                                        94379 non-null  object
 3   Travel_Distance                            94379 non-null  int64
 4   Departure_Delay_in_Mins                    94379 non-null  object
 5   Arrival_Delay_in_Mins                      94379 non-null  object
 6   Seat_Comfort_Excellent                     94379 non-null  uint8
 7   Seat_Comfort_Extremely Poor                94379 non-null  uint8
 8   Seat_Comfort_Good                          94379 non-null  uint8
 9   Seat_Comfort_Needs Improvement             94379 non-null  uint8
 10  Seat_Comfort_Poor                          94379 non-null  uint8
 11  Seat_Class_Ordinary                        94379 non-null  uint8
 12  Arrival_Time_Convenient_Excellent          94379 non-null  uint8
 13  Arrival_Time_Convenient_Extremely Poor     94379 non-null  uint8
 14  Arrival_Time_Convenient_Good               94379 non-null  uint8
 15  Arrival_Time_Convenient_Needs Improvement  94379 non-null  uint8
 16  Arrival_Time_Convenient_Poor               94379 non-null  uint8
 17  Catering_Excellent                         94379 non-null  uint8
 18  Catering_Extremely Poor                    94379 non-null  uint8
 19  Catering_Good                              94379 non-null  uint8
 20  Catering_Needs Improvement                 94379 non-null  uint8
 21  Catering_Poor                              94379 non-null  uint8
 22  Platform_Location_Inconvenient             94379 non-null  uint8
 23  Platform_Location_Manageable               94379 non-null  uint8
 24  Platform_Location_Needs Improvement        94379 non-null  uint8
 25  Platform_Location_Very Convenient          94379 non-null  uint8
 26  Platform_Location_Very Inconvenient        94379 non-null  uint8
 27  Onboard_Wifi_Service_Excellent             94379 non-null  uint8
 28  Onboard_Wifi_Service_Extremely Poor        94379 non-null  uint8
 29  Onboard_Wifi_Service_Good                  94379 non-null  uint8
 30  Onboard_Wifi_Service_Needs Improvement     94379 non-null  uint8
 31  Onboard_Wifi_Service_Poor                  94379 non-null  uint8
 32  Onboard_Entertainment_Excellent            94379 non-null  uint8
 33  Onboard_Entertainment_Extremely Poor       94379 non-null  uint8
 34  Onboard_Entertainment_Good                 94379 non-null  uint8
 35  Onboard_Entertainment_Needs Improvement    94379 non-null  uint8
 36  Onboard_Entertainment_Poor                 94379 non-null  uint8
 37  Online_Support_Excellent                   94379 non-null  uint8
 38  Online_Support_Extremely Poor              94379 non-null  uint8
 39  Online_Support_Good                        94379 non-null  uint8
 40  Online_Support_Needs Improvement           94379 non-null  uint8
 41  Online_Support_Poor                        94379 non-null  uint8
 42  Ease_of_Online_Booking_Excellent           94379 non-null  uint8
 43  Ease_of_Online_Booking_Extremely Poor      94379 non-null  uint8
 44  Ease_of_Online_Booking_Good                94379 non-null  uint8
 45  Ease_of_Online_Booking_Needs Improvement   94379 non-null  uint8
 46  Ease_of_Online_Booking_Poor                94379 non-null  uint8
 47  Onboard_Service_Excellent                  94379 non-null  uint8
 48  Onboard_Service_Extremely Poor             94379 non-null  uint8
 49  Onboard_Service_Good                       94379 non-null  uint8
 50  Onboard_Service_Needs Improvement          94379 non-null  uint8
 51  Onboard_Service_Poor                       94379 non-null  uint8
 52  Legroom_Excellent                          94379 non-null  uint8
 53  Legroom_Extremely Poor                     94379 non-null  uint8
 54  Legroom_Good                               94379 non-null  uint8
 55  Legroom_Needs Improvement                  94379 non-null  uint8
 56  Legroom_Poor                               94379 non-null  uint8
 57  Baggage_Handling_Excellent                 94379 non-null  uint8
 58  Baggage_Handling_Good                      94379 non-null  uint8
 59  Baggage_Handling_Needs Improvement         94379 non-null  uint8
 60  Baggage_Handling_Poor                      94379 non-null  uint8
 61  CheckIn_Service_Excellent                  94379 non-null  uint8
 62  CheckIn_Service_Extremely Poor             94379 non-null  uint8
 63  CheckIn_Service_Good                       94379 non-null  uint8
 64  CheckIn_Service_Needs Improvement          94379 non-null  uint8
 65  CheckIn_Service_Poor                       94379 non-null  uint8
 66  Cleanliness_Excellent                      94379 non-null  uint8
 67  Cleanliness_Extremely Poor                 94379 non-null  uint8
 68  Cleanliness_Good                           94379 non-null  uint8
 69  Cleanliness_Needs Improvement              94379 non-null  uint8
 70  Cleanliness_Poor                           94379 non-null  uint8
 71  Online_Boarding_Excellent                  94379 non-null  uint8
 72  Online_Boarding_Extremely Poor             94379 non-null  uint8
 73  Online_Boarding_Good                       94379 non-null  uint8
 74  Online_Boarding_Needs Improvement          94379 non-null  uint8
 75  Online_Boarding_Poor                       94379 non-null  uint8
 76  Gender_Male                                94379 non-null  uint8
 77  Customer_Type_Loyal Customer               94379 non-null  uint8
 78  Type_Travel_Personal Travel                94379 non-null  uint8
 79  Travel_Class_Eco                           94379 non-null  uint8
dtypes: int64(3), object(3), uint8(74)
memory usage: 11.7+ MB

In [ ]:
# Splitting the dataset into train and test data
X_train, X_test, y_train, y_test =  train_test_split(features, target, test_size=0.2, random_state=42)

In [136]:
scaler = MinMaxScaler()
# Here, we are passing all the features (numerical and categorical), that's okay as min-max scaler will not change values of categorical variables
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

ValueError: ignored